@import url('globals.css');
html {
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}

/* ########## Top Bar ########## */

.topbar {
    position: relative;
    outline: 2px solid var(--colorPrimary);
    outline-offset: -2px;
    background-color: var(--colorBackground);
    height: var(--topbarHeight);
    top: 0;
    left: var(--topbarHeight);
    width: calc(100% - var(--topbarHeight));
    /*  */
    display: flex;
    justify-content: space-evenly;
    vertical-align: middle;
    /*  */
    scroll-snap-align: start;
}

.topbar>* {
    text-decoration: none;
}

.topbar .nav-link {
    position: relative;
    top: 0;
    padding-top: 3rem;
    color: var(--colorText);
    font-weight: bold;
    text-transform: uppercase;
    font: normal 500 20px/8px var(--roboto);
}

.topbar .nav-link:hover {
    text-decoration: underline var(--colorLink);
}

.topbar .brand-logo {
    /* outline: 1px solid white; */
    /* padding: 1%; */
    font: normal 500 2rem/1rem var(--roboto);
    color: var(--colorPrimary);
    line-height: 1em;
}

/* ########## Content ########## */

.container {
    /* outline: 1px solid magenta; */
    max-width: 1000px;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-height: max-content;
}

.container .row {
    position: relative;
    text-align: center;
}

.container .card div {
    /* outline: 1px solid lime; */
}

.card {
    outline: 1px solid var(--colorBorder);
    background-color: var(--colorBackground);
    max-width: 100%;
    min-height: 50vh;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-block: 10vh;
}

.container h1, h3 {
    text-transform: uppercase;
    color: var(--colorTitle);
}

.container p {
    color: var(--colorText);
}

.container .row div img {
    padding: 10px;
    max-width: 25%;
}

.contactsBar {
    /* outline: 1px solid fuchsia; */
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
}

.contactLink {
    --lineW: 1px;
    border: var(--lineW) solid #fff;
    outline: var(--lineW) solid #fff;
    outline-offset: calc(-1 * var(--lineW));
    transition: outline-offset 200ms linear;
}

.contactLink:hover {
    outline-offset: calc(2 * var(--lineW));
}

.contactLogo {
    --iconSize: 100px;
    display: block;
    height: var(--iconSize);
    min-width: var(--iconSize);
}

.github {
    background-image: url('../img/github-icon.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.email {
    background-image: url('../img/email.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.contactsBar a {
    /* outline: 1px solid lime; */
    max-width: max-content;
}

.row-title {}

.row-content {
    float: right;
}

/* ########## Section ########## */

section {
    scroll-snap-align: start;
    /* scroll-snap-stop: always; */
    min-height: 100vh;
    background: none;
    /* outline: 1px solid lime; */
    margin-block: 10%;
    scroll-margin: 10%;
}

/* ########## Bottom Bar ########## */

.botbar {
    outline: 1px solid #fff;
    position: relative;
    bottom: 0;
    height: 16px;
    background: black;
    max-width: 28ch;
    margin: auto;
    scroll-snap-align: end;
}

.botbar>* {
    font-size: 12px;
    line-height: 16px;
    color: white;
    text-align: center;
}

/* ########## Kings Canyon Background ########## */

.KC1 {
    background-image: url('../img/KC1.png');
    /* margin-top: var(--topbarHeight); */
    /* Topbar Height*/
    height: 100%;
    width: 100vw;
    /* Parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow: hidden; */
    background-color: #000;
    z-index: -2;
    overflow: hidden;
}

.scrollable {
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*  */
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

/* ########## Images ########## */

.Wraith {
    position: fixed;
    right: -100px;
    top: 0;
    transition: 500ms ease;
    transform: scale(70%);
    opacity: 35%;
    z-index: 0;
}

.Wraith:hover {
    transform: scale(75%);
    opacity: 100%;
    z-index: 1;
}

.Octane {
    position: fixed;
    left: -12%;
    bottom: 0px;
    transform: rotateY(180deg) translateY(25%) scale(90%);
    transition: 500ms ease;
    opacity: 35%;
    max-width: 60%;
    z-index: 0;
}

.Octane:hover {
    transform: rotateY(180deg) translateY(0) scale(100%) translateX(-25%);
    opacity: 100%;
    z-index: 1;
}

/* ---------- @media queries ---------- */

@media screen and (max-width: 991px) {
    .topbar {
        text-align: center;
        overflow-wrap: break-word;
    }
    .Wraith {
        pointer-events: none;
        max-width: 80%;
    }
    .Octane:hover {
        transform: rotateY(180deg) translateY(24%) scale(100%) translateX(-1%);
    }
    .container .row {
        justify-content: space-around;
        text-align: center;
        overflow-wrap: break-word;
    }
    .nav-link {
        display: none;
    }
}