@import url(/css/globals.css);

/* Bottom Bar */
.botbar {
	height: 1rem;
    background: black;
    text-align: center;
    font-size: 0.7rem;
}

/* Top Bar */
.topbar{
    /* border: 1px solid magenta; */
    width: 100%;
    padding-left: calc(100px + 1rem);
}
.topbar nav{
    position: fixed;
    top: 0px;
}
.topbar ul{
    /* border: 1px solid magenta; */
    background-color: black;
    text-align: center;
    justify-content: right;
    right: 0px;
    padding: 1rem;
}
.topbar button{
    position: fixed;
    left:0px;
    top:0px;
}
.topbar .navbar .navbar-brand {
    /* border: 1px solid white; */
    padding: 2rem;
    font: normal 500 2rem/1rem var(--roboto);
    color: var(--colorTitle);

}

.topbar .nav-item .nav-link {
    /* border: 1px solid white; */
    color: var(--colorText);
    font-weight: bold;
    text-transform: uppercase;
    font: normal 500 20px/8px var(--roboto);
}
.topbar .nav-item {
    vertical-align: center;
}


/* Body */
body .container .row span {
    display: block;
    text-transform: uppercase;
}

/* Container */
.container .row {
    border: 1px solid #666;
    background-color: #222;
    padding: 3rem;
    margin: 4rem;
}
/* bg */
.kc {
    background-size: cover;
}

/* Images */
.Wraith {
    position: fixed;
    float: right;
    right: -100px;
    top: 0px;
    transition: 1s ease;
    transform: scale(98%);
    opacity: 35%;
}
.Wraith:hover {
    transform: scale(100%);
    opacity: 100%;
}

.Octane {
    position: fixed;
    float: left;
    left: -12%;
    bottom: 0px;
    transform: rotateY(180deg) translateY(25%) scale(90%);
    transition: 1s ease;
    opacity: 35%;
    max-width: 60%;
}
.Octane:hover {
    transform: rotateY(180deg) translateY(0) scale(100%) translateX(-25%);
    opacity: 100%;
}