:root {
    font-family: Helvetica, Arial, sans-serif;
    --margin: 10px;
    --border: 5px;
	--color1: #3A4257;
    --color2: #F0DDBC;
}

.bg{
    visibility: visible;
    position: fixed;
}
.bg:hover {
    transition: 1s ease-in-out;
}

.Wraith {
    float: right;
    right: 0px;
    top: 0px;
    transition: ease-in-out 1s;
    transform: 0;
}
.Wraith:hover {
    transform: scale(80%);
}

.Octane {
    float: left;
    bottom: 0px;
    transform: rotateY(180deg) scale(50%);
    height: 50%;
    transition: ease-in-out 1s;
}
.Octane:hover {
    transform: rotateY(0deg) scale(50%);
}

.botbar {
	height: 2%;
    background: black;
    text-align: center;
    font-size: 1em;
}